
.container {
    direction: rtl;
    text-align: right;
}
.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    --webkit-background-size: 6px 30px;
    --moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 20px;
}
.btn{
    padding: .84rem 1.14rem !important
}
.md-form .prefix ~ label {
    width: 100%;
    margin-left: 0 !important;
    text-align: right
}
.md-form .prefix {
  
    width: 100%;
    text-align: left;
}
form{
    width: 100%;
    margin: auto;
    text-align: center;
}
button#submitBtn {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,59,1) 68%, rgba(0,212,255,1) 100%);
    color: white !important;
}
.propertyOfProduct h6 {
    padding-left: 50px;
}


@media only screen and (max-width: 780px) {    
    .propertyOfProduct{
        margin: auto !important;      
    }
    .quantity {
        width: 100%;
    }
  }

